.pieDePagina{
    background-color: rgb(5, 31, 148);
}

.totalPagar{
    background-color: rgb(173, 216, 230);
    color:rgb(0, 23, 100)
}

.botonesForm{
    background-color:rgb(154, 205, 50);
    color: rgb(154, 205, 50);
}